.demo {
  border:1px solid #C0C0C0;
  border-collapse:collapse;
  width: 1920px;
}
.demo td {
  border:1px solid #C0C0C0;
  padding: 0;
  width: 15px;
  height: 15px;
  text-align: center;
}
.demo tr {
  line-height: 15px;
}
td.side {
  background-color: azure;
}
